stages:
  - package

variables:
  MATLAB_WIN:"C:\Program Files\MATLAB\R2020a\bin\matlab"

# Templates
.os_package:
    stage: package
    artifacts:
        when: always
        name: "$CI_COMMIT_REF_NAME"
        paths:
            - libm2k
            - ./*.mltbx
            - ./*.log

package:linux:
    extends: .os_package
    tags:
     - linux
     - matlab
    script:
     - git clone --branch matlab-new-api https://github.com/analogdevicesinc/libm2k.git
     - cd libm2k
     - mkdir build && cd build
     - cmake .. -DENABLE_CSHARP=OFF -DENABLE_PYTHON=OFF
     - make
     # Collect binaries and headers
     - cd ../../
     - mkdir deps
     - find libm2k/build -name "*.so" -exec cp {} deps/ \;
     - cp -r libm2k/include/libm2k deps/
     - rm -rf libm2k
     - curl -O https://raw.githubusercontent.com/analogdevicesinc/libiio/master/iio.h
     - mv iio.h deps/
     - mv deps libm2k
     # Build MATLAB Bindings
     - /usr/local/MATLAB/R2019a/bin/matlab -r 'build_pkg' 
     - /usr/local/MATLAB/R2019a/bin/matlab -r 'build_installer' 

package:win64:
    extends: .os_package
    tags:
     - win64
     - matlab
    script:
     # Collect binaries and headers for libiio and build libm2k
     - cmd /C deps.bat
     # Build MATLAB Bindings
     - cmd /C ""C:\Program Files\MATLAB\R2020a\bin\matlab" -wait -nodisplay -nodesktop -nosplash -r "diary builder.log; builder; pause(10); build_installer""
     #- cmd /C ""$MATLAB_WIN" -wait -nodisplay -nodesktop -nosplash -r "diary installer.log; build_installer"" & echo 0
