stages:
  - package

# Templates
.os_package:
    stage: package
    artifacts:
        when: always
        name: "$CI_COMMIT_REF_NAME"
        paths:
            - libm2k

package:linux:
    extends: .os_package
    tags:
     - linux
     - matlab
    script:
     - git clone --branch matlab-bindings https://github.com/analogdevicesinc/libm2k.git
     - cd libm2k
     - mkdir build && cd build
     - cmake .. -DENABLE_CSHARP=OFF -DENABLE_PYTHON=OFF
     - make
     # Collect binaries and headers
     - cd ../../
     - mkdir deps
     - find libm2k/build -name "*.so" -exec cp {} deps/ \;
     - cp -r libm2k/include/libm2k deps/
     - rm -rf libm2k
     - curl -O https://raw.githubusercontent.com/analogdevicesinc/libiio/master/iio.h
     - mv iio.h deps/
     - mv deps libm2k
     # Build MATLAB Bindings
     - /usr/local/MATLAB/R2019a/bin/matlab -r 'build_pkg' 
